<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.grabRedPacket.mapper.RedPacketMapper">
    <select id="getRedPacket" parameterType="long" 
    	resultType="com.demo.grabRedPacket.model.RedPacket">
    	select id, user_id as userId, amount, send_date as sendDate, total,
    		unit_amount as unitAmount, stock, version, note
    	from T_RED_PACKET 
    	where id = #{id}
    </select>
    
    <select id="getRedPacketForUpdate" parameterType="long" 
    	resultType="com.demo.grabRedPacket.model.RedPacket">
    	select id, user_id as userId, amount, send_date as sendDate, total,
    		unit_amount as unitAmount, stock, version, note
    	from T_RED_PACKET 
    	where id = #{id} for update
    </select>
    
    <update id="devcreaseRedPacket">
    	update T_RED_PACKET set stock = stock -1 where id = #{id}
    </update>
    
    <update id="devcreaseRedPacketForVersion" parameterType="com.demo.grabRedPacket.model.RedPacket">
    	update T_RED_PACKET set 
    	stock = stock -1,
    	version = version +1
    	where id = #{id}
    	and version = #{version}
    </update>
    
    
</mapper>