<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.SysDicMapper">
    <select id="findSysDicAll" resultType="sysDicPo" parameterType="String">
        SELECT 
        	d.id as id, d.dic_name as dicName, d.dic_code as dicCode, d.dic_type as dicType,
        	d.create_time as createTime, d.update_time as updateTime,
        	d.user_id as userId, u.login_name as loginName
        FROM sys_dic d 
        LEFT join sys_user u ON u.id = d.user_id
        WHERE 1=1
        <if test="_parameter != null">
        	and (dic_name like CONCAT('%',#{searchValue},'%')
        	or UPPER(dic_code) like UPPER(CONCAT('%',#{searchValue},'%'))
        	or dic_type like CONCAT('%',#{searchValue},'%'))
        </if>
    </select>
    <select id="getDicType" resultType="sysDicPo" parameterType="String">
        SELECT 
        	id, dic_name as dicName, dic_code as dicCode, dic_type as dicType,
        	create_time as createTime, update_time as updateTime
        FROM sys_dic
        where dic_type = #{dicType}
    </select>
    <insert id="saveSysDic">
    	INSERT INTO sys_dic
    		(id, dic_name, dic_code, dic_type, user_id, create_time) 
    	VALUES
    		(#{id}, #{dicName}, #{dicCode}, #{dicType}, #{userId}, #{createTime});
    </insert>
    <delete id="deleteSysDic" parameterType="String">
    	DELETE FROM sys_dic WHERE id = #{id};
    </delete>
    <update id="updateSysDic">
    	UPDATE sys_dic SET
    		dic_name = #{dicName}, dic_code = #{dicCode}, dic_type = #{dicType}, update_time = #{updateTime}
    	WHERE id = #{id};
    </update>
</mapper>