<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.SysPermissionMapper">
    <select id="findSysPermissionByUserId" resultType="sysPermissionVo" parameterType="String">
		select DISTINCT p.id as id, p.url as url, p.name as name, p.code as code, p.type as type, 
		p.order as orderl, p.parent_id as parentId, pp.name as parentName, 
		pp.code as parentCode, pp.url as parentUrl
		FROM sys_user_role ur
			LEFT JOIN sys_user u on ur.uid = u.id
			LEFT JOIN sys_role r on r.id = ur.rid
			LEFT JOIN sys_role_permission rp on rp.rid = r.id
			LEFT JOIN sys_permission p on p.id = rp.pid
			LEFT JOIN sys_permission pp on pp.id = p.parent_id
		WHERE u.id = #{userId} and p.id != "";
    </select>
    <select id="findSysPermissionAll" resultType="sysPermissionVo" parameterType="String">
		select p.id as id, p.url as url, p.name as name, p.code as code, p.type as type, 
		p.order as orderl, p.parent_id as parentId, pp.name as parentName, 
		pp.code as parentCode, pp.url as parentUrl
		FROM sys_permission p 
		LEFT JOIN sys_permission pp on pp.id = p.parent_id
    </select>
    <select id="findSysPermissionByRoleId" resultType="sysPermissionVo" parameterType="String">
		select p.id as id, p.url as url, p.name as name, p.code as code, p.type as type, 
		p.order as orderl, p.parent_id as parentId, pp.name as parentName, 
		pp.code as parentCode, pp.url as parentUrl, r.name as roleName, r.id as roleId
		FROM sys_role_permission rp
			LEFT JOIN sys_role r on rp.rid = r.id
			LEFT JOIN sys_permission p on p.id = rp.pid
			LEFT JOIN sys_permission pp on pp.id = p.parent_id
		WHERE r.id = #{userId}
    </select>
    <insert id="saveSysPermission">
    	INSERT INTO sys_permission
    		(id, url, name, code, type, `order`, parent_id, create_time) 
    	VALUES
    		(#{id}, #{url}, #{name}, #{code}, #{type}, #{orderl}, #{parentId}, #{createTime});
    </insert>
    <delete id="deleteSysPermission" parameterType="String">
    	DELETE FROM sys_permission WHERE id = #{id};
    </delete>
    <update id="updateSysPermission">
    	UPDATE sys_permission SET
    		url = #{url}, name = #{name}, code = #{code}, type = #{type}, 
    		`order` = #{orderl}, parent_id = #{parentId}, update_time = #{updateTime}
    	WHERE id = #{id};
    </update>
</mapper>