<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.SysUserMapper">

    <select id="findUserAll" resultType="sysUserPo" parameterType="String">
        select 
        	id, login_name as loginName, real_name as realName, password,
        	create_time as createTime, update_time as updateTime, 
        	last_login_time as lastLoginTime, email, phone, status
        from sys_user WHERE 1=1
		<if test="_parameter != null">
        	and ( login_name like CONCAT('%',#{searchValue},'%')
        	or real_name like CONCAT('%',#{searchValue},'%') )
        </if>
    </select>
    
    <select id="findUserById" resultType="sysUserVo" parameterType="String">
        select 
        	id, login_name as loginName, real_name as realName, password,
        	create_time as createTime, update_time as updateTime, 
        	last_login_time as lastLoginTime, email, phone, status
        from sys_user where id = #{id}
    </select>
    
    <select id="findUserByLoginName" resultType="sysUserVo" parameterType="String">
        select 
        	id, login_name as loginName, real_name as realName, password,
        	create_time as createTime, update_time as updateTime, 
        	last_login_time as lastLoginTime, email, phone, status
        from sys_user where login_name = #{loginName}
    </select>
    
    <insert id="saveSysUser">
    	INSERT INTO sys_user
    		(id, login_name, real_name, password, 
    			last_login_time, email, phone, status, create_time) 
    	VALUES
    		(#{id}, #{loginName}, #{realName}, #{password}, 
    			#{lastLoginTime}, #{email}, #{phone}, #{status}, #{createTime});
    </insert>
    
    <delete id="deleteSysUser" parameterType="String">
    	DELETE FROM sys_user WHERE id = #{id};
    </delete>
    
    <update id="updateSysUser">
    	UPDATE sys_user SET
    		login_name = #{loginName}, real_name = #{realName}, phone = #{phone},
    		email = #{email}, update_time = #{updateTime}
    	WHERE id = #{id};
    </update>
    
    <update id="updatePassword">
    	UPDATE sys_user SET
			password = #{password}
		WHERE id = #{id};
    </update>
    
    <update id="updateSysUserToLoginTime">
    	UPDATE sys_user SET
			last_login_time = #{lastLoginTime}
    	WHERE id = #{id};
    </update>
</mapper>