<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.TabCommentMapper">
    <select id="findTabCommentAll" resultType="tabCommentPo" parameterType="Map">
        SELECT 
        	c.id, c.content, c.create_time as createTime, 
        	c.update_time as updateTime
        FROM tab_comment c
        <!-- left join sys_user u on u.id = c.user_id -->
        WHERE 1=1
		<if test="articleId != null">
        	and article_id = #{articleId}
        </if>
        <if test="content != null and content != ''">
        	and (a.content like CONCAT('%',#{content},'%'))
        </if>
    </select>
    <insert id="saveTabComment">
    	INSERT INTO tab_comment
    		(id, article_id, user_id, content, create_time) 
    	VALUES
    		(#{id}, #{articleId}, #{userId}, #{content}, #{createTime});
    </insert>
    <delete id="deleteTabComment" parameterType="String">
    	DELETE FROM tab_comment WHERE id = #{id};
    </delete>
</mapper>